.app {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--primary-bg);
}

.app__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__header {
    display: grid;
    align-items: center;
    width: 85%;
    height: 14vh; 
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    margin: 2vh 0 2vmin 0;
}

.app__logo {
    width: calc(20px + 5vmax);
    margin-left: 2vw;
}

.app__discover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cantarell';
    font-size: calc(2vw + 20px);
}

.app__body {
    max-width: 100%;
}
