@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --hover-transition-duration: 0.15s;
    --primary-bg: #FAFBFF;
    --secondary-bg: #F8F9FD;
    --invisible: #00000000;

    --blurhash-width: 300px;
    --blurhash-height: 270px;
}

.wrapper--85 { width: 85%; }
.wrapper--100 { width: 100%; }

.noselect {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}
